.login-page {
  overflow-y: hidden;
  .login-content {
    padding: 7%;
    display: flex;
    height: 100%;
    gap: 5vw;

    img {
      width: 35vw;

      object-fit: cover;
    }
    form {
      max-height: 55vh;
      width: 35vw;
      margin: 2vh 0;
      input {
        margin-top: 3vh;
        font-size: 20px;
        border-radius: 15px;
      }
      button {
        margin-top: 5vh;
        height: 5vh;
        font-size: 20px;
      }
    }
  }
}
