.card {
  border: none;
  padding: 5% 0;
  height: 40vh;

  .card-contents {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    gap: 3vw;

    .card-image {
      width: 200px;
      height: auto;
      position: relative;
      display: inline-block;
      overflow: hidden;

      align-items: center;
      justify-content: center;
      img {
        object-fit: contain;
        object-position: center;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .card-description {
      width: 30vw;
      .card-price-calories {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
