.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #343a40;
  height: 12vh;
  .logo {
    a {
      font-size: 30px;
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .nav-links {
    display: flex;
    align-items: center;
    gap: 3vw;
    li {
      list-style-type: none;
      color: white;
      font-size: 16px;
      a {
        font-size: 14px;
        color: white;
      }
    }
  }
}
