.landing-page {
  img {
    width: 100%;
    object-fit: cover;
  }
  .landing-page-contents {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .landing-page-mission-statement {
      margin-top: 5vh;
    }
    .q-a {
      margin-top: 7vh;
      li {
        font-size: 18px;
      }
    }
    h1 {
      text-transform: none;
    }
    h2 {
      font-size: 28px;
    }
    p {
      font-size: 18px;
    }
  }
}
