* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
}

//menu screen
.menu-section {
  padding: 15px 0;
  h1 {
    width: 100%;
    text-align: center;
  }
  .menu-section-header {
    margin: 5vh;
  }
  .menu-section-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    margin-top: 3vh;
    p {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .menu-section-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: none;
    .card {
      border: none;
    }
  }
}

//admin screen
.admin-screen {
  padding: 2%;
  button {
    width: 100%;
    align-self: flex-start;
    margin: 5vh 0;
    font-size: 18px;
    padding: 5px;
    text-transform: uppercase;
  }
  .admin-content {
    display: flex;
    flex-direction: column;
    padding: 3%;

    .admin-create-table {
      display: flex;
      justify-content: space-between;

      form {
        margin-right: 2vw;
        width: 25vw;
        input,
        textarea,
        select {
          margin: 5px 0;
        }
        select {
          width: 100%;
          outline: none;
          padding: 10px;
          background-color: #ececec;
          outline: none;
          border: none;
        }
        textarea {
          background-color: #ececec;
          outline: none;
          border: none;
          padding: 5px;
          width: 100%;
        }
      }
    }
    // .admin-add-item-form {
    //   width: 35vw;
    //   height: 75vh;
    //   border-radius: 0;

    //   input {
    //     border-radius: 0;
    //     margin: 5px 0;
    //   }
    //   button {
    //     font-size: 20px;
    //   }
    // }

    table {
      width: 70%;
      img {
        width: 30px;
        height: 50px;
      }
      a {
        color: white;
        margin: 0 10px;
      }
      th {
        text-transform: uppercase;
      }
      td {
        .table-btn {
          padding: 5px;
        }
      }
    }
  }
}

.menu-item-edit-screen {
  padding: 5%;
  .menu-item-edit-content {
    margin-top: 5vh;
    .menu-item-edit-form-item {
      display: flex;
      gap: 10vw;
      .card {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        padding: 5%;
        height: 35vh;
        transition: 0.5s ease-in;
        &:hover {
          transform: scale(1.2);
        }
        .card-contents {
          img {
          }
        }
      }
    }
    .menu-item-edit-form {
      width: 30%;
      input {
        margin: 5px 0;
      }
      textarea {
        width: 100%;
        outline: none;
        padding: 5px;
        background-color: #ececec;
      }
      select {
        width: 100%;
        outline: none;
        padding: 10px;
        background-color: #ececec;
        outline: none;
        margin: 5px 0;
        border: none;
      }
      button {
        font-size: 22px;
      }
    }
  }
}
