.register-page {
  min-height: 88vh;
  .register-content {
    padding: 7%;
    display: flex;
    height: 100%;
    gap: 5vw;

    img {
      width: 35vw;
      object-fit: cover;
    }
    form {
      max-height: 78vh;
      width: 35vw;
      input {
        margin-top: 3vh;
        font-size: 16px;
        height: 6vh;
      }
      button {
        margin-top: 3vh;
        height: 7vh;
        font-size: 18px;
        border-radius: 15px;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .register-page {
    .register-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      form {
        width: 100%;
        min-height: 60vh;
      }
    }
  }
}
